In [2]:
# import dependencies
import pandas as pd

In [9]:
# read csv on carbon emission data and convert to pandas dataframe
carbon = pd.read_csv('../resources/data/carbon_by_country.csv')

# select only emissions by USA since 1969
carbon = carbon[['year', 'USA']].loc[carbon['year'] >1968,:]

carbon

    year   USA
10  1969  1098
11  1970  1181
12  1971  1188
13  1972  1244
14  1973  1300
15  1974  1254
16  1975  1201
17  1976  1257
18  1977  1292
19  1978  1333
20  1979  1336
21  1980  1287
22  1981  1236
23  1982  1174
24  1983  1183
25  1984  1220
26  1985  1224
27  1986  1225
28  1987  1278
29  1988  1333
30  1989  1350
31  1990  1398
32  1991  1384
33  1992  1412
34  1993  1441
35  1994  1467
36  1995  1484
37  1996  1535
38  1997  1556
39  1998  1569
40  1999  1591
41  2000  1637
42  2001  1610
43  2002  1622
44  2003  1635
45  2004  1666
46  2005  1673
47  2006  1651
48  2007  1672
49  2008  1618
50  2009  1499
51  2010  1556
52  2011  1521
53  2012  1466
54  2013  1507
55  2014  1521
56  2015  1480
57  2016  1448
58  2017  1439
59  2018  1478

In [10]:
len(carbon)

50