In [57]:
# import dependencies
import pandas as pd

In [58]:
# read csv on carbon emission data and convert to pandas dataframe
carbon = pd.read_csv('../resources/data/carbon_by_country.csv')

# select only emissions by USA since 1969
carbon = carbon[['year', 'USA']].loc[carbon['year'] >1968,:]

carbon = carbon.reset_index(drop=True)

In [59]:
def total(y):
    return carbon.loc[carbon['year'] < y,:]['USA'].sum()

carbon['emissions'] = carbon['year'].apply(total)

carbon

    year   USA  emissions
0   1969  1098          0
1   1970  1181       1098
2   1971  1188       2279
3   1972  1244       3467
4   1973  1300       4711
5   1974  1254       6011
6   1975  1201       7265
7   1976  1257       8466
8   1977  1292       9723
9   1978  1333      11015
10  1979  1336      12348
11  1980  1287      13684
12  1981  1236      14971
13  1982  1174      16207
14  1983  1183      17381
15  1984  1220      18564
16  1985  1224      19784
17  1986  1225      21008
18  1987  1278      22233
19  1988  1333      23511
20  1989  1350      24844
21  1990  1398      26194
22  1991  1384      27592
23  1992  1412      28976
24  1993  1441      30388
25  1994  1467      31829
26  1995  1484      33296
27  1996  1535      34780
28  1997  1556      36315
29  1998  1569      37871
30  1999  1591      39440
31  2000  1637      41031
32  2001  1610      42668
33  2002  1622      44278
34  2003  1635      45900
35  2004  1666      47535
36  2005  1673      49201
37  2006  1651      50874
38  2007  1672      52525
39  2008  1618      54197
40  2009  1499      55815
41  2010  1556      57314
42  2011  1521      58870
43  2012  1466      60391
44  2013  1507      61857
45  2014  1521      63364
46  2015  1480      64885
47  2016  1448      66365
48  2017  1439      67813
49  2018  1478      69252